<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All product</h1>
    <table border="2px solid black">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>address</th>
          <th>mobile</th>
        </tr>
        <% allProduct.forEach(ele=>{%>
          <tr>
          <td><%= ele.dataValues.productid %></td>
          <td><%= ele.dataValues.name %></td>
          <td><%= ele.dataValues.price %></td>
          <td>
            <button><a href="/updateproduct/<%= ele.dataValues.productid %>">edit</a></button>
          </td>
          <td>
            <button><a href="/deleteproduct/<%= ele.dataValues.productid %>">delete</a></button>
          </td>
        </tr>
          <%})%>
      </table>
    
</body>
</html>